# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
test-results/
playwright-report/
playwright/.cache/

# Next.js
.next/
out/
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.production
cookies.txt

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma - keep migrations versioned for deployment

# IDE
.idea
.vscode
